select#cc_issuer {
  width: 100%;
}

input#cc_number {
  border: none;
  text-align: center;
  font-size: 18px;
}

.cc_container {
  padding: 15px 10px 10px;
}

.actions div {
  cursor: pointer;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 1px 1px rgba(50,50,50,0);
}

.actions div::selection {
  background: none;
}

.actions div:hover {
  background: #f3f3f3;
  text-decoration: underline;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
}

select {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
  font-weight: bold;
}